.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}
.home-grid{
  height: 100vh; /* Adjust as needed */

}
.label-container {
    display: flex;
    align-items: center;
  }
  
  .label-text {
    margin-right: 5px;
  }
  
  .input-container {
    margin-left: 5px;
  }
  .pet-image {
    width: 100px; /* Set the width as per your requirement */
    height: 100px; /* Set the height as per your requirement */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  
  .pet-item {
    border: 1px solid #ccc; /* Add border for each grid item */
    padding: 10px; /* Add padding to separate content */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
  
  }
  .pet-grid {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    gap: 2px; /* Adjust the gap between grid items */
  }

  /* ykaber kif t7ot souris*/
  .pet-item:hover {
    transform: scale(1.05); /* Scale up on hover */
  }
  .pet-image-container {
    width: 100%;
    height: 100px; /* Set a fixed height for the image container */
    overflow: hidden; /* Hide overflow to prevent image distortion */
    border-radius: 10px; /* Add rounded corners to image container */
  }
  
  